<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Garage Service</title>

        <!-- Custom fonts for this template-->
        <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
        <!-- Custom styles for this template-->
        <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add new treatment</h1>
                                <% if(locals.errors){ %> 
                                    <% errors.forEach(function(error) { %>
                                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <%= error.msg %>
                                      </div>
                                    <% }); %> 
                                  <% } %> 
                            </div>
                            <form class="user" action="/treatments/addTreatment" method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input
                                               type="name"
                                               id="treatmentNumber"
                                               name="treatmentNumber"
                                               class="form-control form-control-user"
                                               placeholder="Treatment Number"
                                               onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                               value="<%= typeof treatmentNumber != 'undefined' ? treatmentNumber : '' %>"
                                           />
                                   </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                         <input
                                                type="name"
                                                id="carNumber"
                                                name="carNumber"
                                                class="form-control form-control-user"
                                                placeholder="Car Number"
                                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                                value="<%= typeof carNumber != 'undefined' ? carNumber : '' %>"
                                            />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input
                                        type="name"
                                        id="treatmentInformation"
                                        name="treatmentInformation"
                                        class="form-control form-control-user"
                                        placeholder="Treatment Information"
                                        onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)" maxlength="30"
                                        value="<%= typeof treatmentInformation != 'undefined' ? treatmentInformation : '' %>"
                                    />
                                </div>
                                <div class="form-group">
                                        <input
                                            type="email"
                                            id="workerEmail"
                                            name="workerEmail"
                                            class="form-control form-control-user"
                                            placeholder="Email Address"
                                            onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 64) || (event.charCode == 46)"
                                            value="<%= typeof workerEmail != 'undefined' ? workerEmail : '' %>"
                                        />
                                </div>

                                <div class="form-group row">
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Add
                                              </button>
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="/dashboard" class="btn btn-danger btn-user btn-block">
                                                 Back
                                            </a>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

</body>

</html>